<html>
<header><title>Create Issue</title></header>
<body>
    <h2>Issue Tracker</h2>
    <div style="border:1px solid black;"></div>

    <form method="post"> 
        <label for="title">Issue Title:</label> 
        <input type="text" id="title" name="title" placeholder="Please enter your issue's title"> 
        <br>
        <label for="desc">Issue Description:</label> 
        <input type="text" id="desc" name="desc" placeholder="Please enter your issue's description"> 
        <br>
        <label for="tags">Issue Tags:</label> 
        <input type="text" id="tags" name="tags" placeholder="Please enter your issue's tags, seperated with dots:"> 
        <br>
        <button type="submit">Create</button> 
</body>
</html>